	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Contact Us</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Contact</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Contact Area =================-->
	<section class="contact_area section_gap_bottom">
		<div class="container">
			<div class="col-lg-12">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d99579.4143412365!2d-9.242136754648367!3d38.74405052698457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19331a61e4f33b%3A0x400ebbde49036d0!2z0JvQuNGB0LDQsdC-0L0sINCf0L7RgNGC0YPQs9Cw0LvQuNGY0LA!5e0!3m2!1ssr!2srs!4v1733326640391!5m2!1ssr!2srs" width="100%" height="450" style="border:0;" style="margin:30px 0px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div class="contact_info">
						<div class="info_item">
							<i class="lnr lnr-home"></i>
							<h6>California, United States</h6>
							<p>Santa monica bullevard</p>
						</div>
						<div class="info_item">
							<i class="lnr lnr-phone-handset"></i>
							<h6><a href="#">00 (440) 9865 562</a></h6>
							<p>Mon to Fri 9am to 6 pm</p>
						</div>
						<div class="info_item">
							<i class="lnr lnr-envelope"></i>
							<h6><a href="#">supportcolorlib.com</a></h6>
							<p>Send us your query anytime!</p>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<form class="row contact_form" [formGroup]="form" id="contactForm" novalidate="novalidate">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" formControlName="fullName" id="subject" name="subject" placeholder="Enter Full name"/>
								<div *ngIf="form.get('fullName').hasError('pattern')">
									<p class="alert alert-danger">Full name is not in good format. Example: John Doe</p>
								</div>
							</div>
							<div class="form-group">
								<input type="email" class="form-control" formControlName="email" id="email" name="email" placeholder="Enter email address" />
								<div *ngIf="form.get('email').hasError('email')">
									<p class="alert alert-danger">Email is not in good format. Example: johndoe&#64;gmail.com</p>
								</div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" formControlName="subject" id="subject" name="subject" placeholder="Enter Subject" />
								<div *ngIf="form.get('subject').hasError('minLength')">
									<p class="alert alert-danger">Subject is not in good format.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<textarea class="form-control" formControlName="message" name="message" id="message" rows="1" placeholder="Enter Message"></textarea>
								<div *ngIf="form.get('message').hasError('minlength')">
									<p class="alert alert-danger">Message need to have minimum 5 length</p>
								</div>
							</div>
						</div>
						<div class="col-md-12 text-right">
							<button type="submit" value="submit" (click)="onSubmit()" [disabled]="form.invalid" on class="primary-btn">Send Message</button>
						</div>
					</form>
					<p class="alert alert-success" id="success" *ngIf="isSent">You have successfully contact admin. Admin will answer you on your email. Also check your spam folder</p>
				</div>
			</div>
		</div>
	</section>
	<!--================Contact Area =================-->
