<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cartItems">
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="../../../../assets/images/product/{{item.image}}" width="100px" height="100px" alt="{{item.name}}"/>
                                    </div>
                                    <div class="media-body">
                                        <p>{{item.name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>${{item.price}}</h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <input type="text" name="qty" id="sst" maxlength="12" value="{{item.quantity}}" title="Quantity:"
                                        class="input-text qty">
                                    <button (click)="quantityUp(item.id)"
                                        class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                    <button (click)="quantityDown(item.id)" 
                                        class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                </div>
                            </td>
                            <td>
                                <h5>${{item.price*item.quantity}}</h5>
                            </td>
                            <td>
                                <button (click)="removeItem(item.id)" class="tp_btn">Delete</button>
                            </td>
                        </tr>
                        
                        <tr class="bottom_button">
                            <td></td>
                            <td>
                                
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="cupon_text d-flex align-items-center justify-content-between">
                                    <button class="gray_btn lk" (click)="removeAll()" [disabled]="this.cartItems.length==0">Remove All</button>
                                
                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>${{this.total}}</h5>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>
                                
                            </td>
                            <td>
                                
                            </td>
                            <td></td>
                            <td>
                                
                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center justify-content-betwee">
                                    <a class="gray_btn" routerLink="/shop">Continue Shopping </a>
                                    <button class="primary-btn" [disabled]="cartItems.length<=0"  (click)="toFormCheckout()">Proceed to Checkout</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" [ngStyle]="{ display: isDisabledFormForCheckout ? 'none' : 'block' }">
            <div class="col-lg-12">
                <form [formGroup]="formCheckout">
                <div class="d-flex justify-content-center flex-column align-items-center">
                    <h3>Shipping information</h3>
                    <br/>
                    <div class="input-group-icon mt-10 mb-3">
                        <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                        <input type="text" name="fullName" formControlName="fullName" placeholder="Full name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Full name'"
                         required class="single-input"/>
                         <div *ngIf="formCheckout.get('fullName').hasError('pattern')">
                            <p class="alert alert-danger">Full name is not in good format. Example: John Doe</p>
                        </div>
                    </div>
                   <div class="input-group-icon mt-10 mb-3">
                    <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                    <input type="text" name="address" formControlName="address" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'"
                     required class="single-input" [ngClass]="{'error-border': formCheckout.get('address')?.invalid && formCheckout.get('address')?.touched}"/>
                </div>
                <div class="input-group-icon mt-10 mb-3">
                    <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                    <input type="text" name="city" formControlName="city" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'"
                     required class="single-input" [ngClass]="{'error-border': formCheckout.get('city')?.invalid && formCheckout.get('city')?.touched}"/>
                </div>
                <div class="input-group-icon mt-10 mb-3">
                    <div class="icon"><i class="fa fa-address-book" aria-hidden="true"></i></div>
                    <input type="text" name="postalCode" formControlName="postalCode" placeholder="Postal code" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Postal code'"
                     required class="single-input"/>
                     <div *ngIf="formCheckout.get('postalCode').hasError('pattern')">
                        <p class="alert alert-danger">Postcode must have 5 numeric</p>
                    </div>
                </div>
                <div class="mt-10 mb-3">
                    <textarea class="single-textarea" formControlName="message" cols="40" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'"
                     ></textarea>
                     <div *ngIf="formCheckout.get('message').hasError('minLength')">
                        <p class="alert alert-danger">Postcode must have 5 numeric</p>
                    </div>
                </div>
                <div class="mt-10 mb-3">
                   <input type="submit" class="primary-btn" (click)="save()" value="Checkout" [disabled]="formCheckout.invalid"/>
                </div>
                </div>
            </form>
            </div>
            
        </div>
        <p class="alert alert-success" *ngIf="isSuccessCheckoutCart">You have successfull checkout your cart</p>
    </div>
</section>