<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Product Details Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">product-details</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
              
                    <div class="single-prd-item" style="display: flex; justify-content: end; margin-top: 13%;">
                        <img class="img-fluid" src="../../../../assets/images/product/{{product?.image}}" alt="">
                    </div>
                 
                
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{product?.name}}</h3>
                    <h2>${{product?.price?.current}}</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Category</span> : {{GetCategoryForProduct(product?.categoryId)}}</a></li>
                        <li><a href="#"><span>Availibility</span> : {{product?.availability}}</a></li>
                    </ul>
                    <p>{{product?.description}}</p>
                    <div class="product_count">
                        <label for="qty">Quantity:</label>
                        <input type="text" name="qty" id="sst" min="1" value="{{quantity}}" title="Quantity:" class="input-text qty">
                        <button 
                         class="increase items-count" type="button" (click)="quantityChange('up')"><i class="lnr lnr-chevron-up"></i></button>
                        <button
                         class="reduced items-count" type="button" (click)="quantityChange('down')"><i class="lnr lnr-chevron-down"></i></button>
                    </div>
                    <div class="card_area d-flex align-items-center">
                        <a class="primary-btn" (click)="addtoCart(product?.id,quantity); openSnackBar();">Add to Cart</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                 aria-selected="false">Specification</a>
            </li>
            
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr >
                                <td>
                                    <h5>Arch</h5>
                                </td>
                                <td>
                                    <h5>{{product?.specifications?.arch}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Color</h5>
                                </td>
                                <td>
                                    <h5>{{product?.specifications?.color}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Drop</h5>
                                </td>
                                <td>
                                    <h5>{{product?.specifications?.material}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Weight</h5>
                                </td>
                                <td>
                                    <h5>{{product?.specifications?.weight}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Material</h5>
                                </td>
                                <td>
                                    <h5>{{product?.specifications?.material}}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->

<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom" *ngIf="this.relatedProducts.length>0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Related products</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20" *ngFor="let item of relatedProducts">
                        <div class="single-related-product d-flex">
                            <a (click)="redirectFromSingleToSingle(item.id)" class="lk"><img src="../../../../assets/images/product/{{item.image}}" width="70px" height="70px" alt="{{item.image}}"></a>
                            <div class="desc">
                                <a (click)="redirectFromSingleToSingle(item.id)" class="title lk">{{item.name}}</a>
                                <div class="price">
                                    <h6>${{item.price.current}}</h6>
                                    <h6 class="l-through">{{item.price.old!=null?'$'+item.price.old:""}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="../../../../assets/images/category/c5.jpg" alt="c5">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End related-product Area -->
